{% extends 'colorbox_ajax.html' %}
{% block title %}
    折扣管理
{% endblock %}

{% block content %}
<div>
	<form class="form-inline row search_combo" role="form">
        <div style="margin-left:20px;margin-right:20px;padding-right: 10px;padding-left: 10px;padding-top: 10px;
        color: #E69100;background-color: #fff4e2;height:40px;">
            <label >请确保折扣系数不能大于2</label>
        </div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">CDN折扣系数:</label> <input class="form-control"id="cdn_discount" for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="cdn_discount_parent"></font></label>
		</div>
        <div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">NAAS折扣系数:</label> <input class="form-control"id="naas_discount" for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="naas_discount_parent"></font></label>
		</div>
        <div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">区域选择:</label>
			<select id ="region" >
			</select>
		</div>
		<hr>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">内存折扣系数:</label> <input class="form-control" id="memory_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="memory_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">CPU折扣系数:</label>
			<input class="form-control" id="cpu_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="cpu_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">云硬盘折扣系数:</label>
			<input class="form-control"id="disk_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="disk_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">快照折扣系数:</label>
			<input class="form-control"id="snapshot_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="snapshot_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">带宽折扣系数:</label>
			<input class="form-control"id="bandwidth_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="bandwidth_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">路由器折扣系数:</label>
			<input class="form-control"id="router_discount"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;"id="router_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">浮动IP折扣系数:</label>
			<input class="form-control"id="ip_discount"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="ip_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">VPN折扣系数:</label>
			<input class="form-control"id="vpn_discount"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="vpn_discount_parent"></font></label>
		</div>
	</form>
</div>
{% endblock %}

{% block action_script %}
    <script>
        function getRegionList() {
            values = $.ajax({
                url : '{{ root_url }}/manage/regionlist/',
                async : false
            });
            return eval(values.responseText)
        }

        regions=getRegionList();
        $("#region").empty();
        for (var i=0;i<regions.length;i++){
            var region=regions[i];
            $("#region").append(
                    "<option value='"+region['region_id']+"'>" + region['region_desc']
                    + "</option>")
        }

        $("#region").change(function(){
            $("#region").trigger("select");
        });

        $("#region").select(function(){
            var discount=$.ajax({url:'{{root_url}}/manage/getdiscountbyregionid/?account_id='+'{{ account_id }}'+'&region_id='+$(this).val(),async:false}).responseText;
            discount=eval("("+discount+")")
            for(var key in discount){
                $("#"+key).val(discount[key])
            }
            cdn_discount=1;
            if (discount['cdnflow_discount']>discount['cdnbandwidth_discount'])
                cdn_discount=discount['cdnflow_discount'];
            else
                cdn_discount=discount['cdnbandwidth_discount'];
            $("#cdn_discount").val(cdn_discount);
{#          tbd  现在没有办法拿到session里面的东西#}
            var parent_discount=$.ajax({url:'{{root_url}}/manage/getdiscountbyregionid/?account_id={{ parent_account_id }}&region_id='+$(this).val(),async:false}).responseText;
            parent_discount=eval("("+parent_discount+")");
            for(var key in discount){
                $("#"+key+'_parent').html("折扣设置不低于分销商折扣："+parent_discount[key])
            }
            cdn_discount=1;
            if (parent_discount['cdnflow_discount']>parent_discount['cdnbandwidth_discount'])
                cdn_discount=parent_discount['cdnflow_discount'];
            else
                cdn_discount=parent_discount['cdnbandwidth_discount'];
            $("#cdn_discount_parent").html('折扣设置不低于分销商折扣：'+cdn_discount);
            $.colorbox.resize()
        });
        $("#region").trigger("select");
        $("input[for='number']").numeral({'positions':1,'scale':2});

        $('#confirm_btn').click(function(){
            var error_discount=[]
            var null_discount=[]
            for(var i=0;i<constant.discount_item.length;i++)
            {
                type=constant.discount_item[i]
                item_discount_value=parseFloat($("#"+type+"_discount").val())
                parent_discount=parseFloat($("#"+type+"_discount_parent").html().split('：')[1])
                if (item_discount_value<0.2||item_discount_value<parent_discount || item_discount_value>2)
                    error_discount.push(constant.resource_type[type])
                if (isNaN(item_discount_value))
                    null_discount.push(constant.resource_type[type])
            }
            if ((error_discount.length!=0) || (null_discount.length!=0))
            {
                var temp='';
                if(null_discount.length!=0)
                    for (var i=0;i<=(null_discount.length-1);i++)
                        temp+=(null_discount[i]+" 折扣系数不能为空<br/>")
                if(error_discount.length!=0)
                    for (var i=0;i<=(error_discount.length-1);i++)
                        temp+=(error_discount[i]+" 折扣系数不在可设置范围内<br/>")
                $.confirm({
                    title: false, // hides the title.
                    cancelButton: false, // hides the cancel button.
                    confirmButton: false, // hides the confirm button.
                    closeIcon: true, // hides the close icon.
                    content: temp// hides content block.
                });
            } else{
                data = {"account_id": '{{ account_id }}', 'region_id': $("#region").val()};
                for (var i = 0; i < constant.discount_item.length; i++) {
                    type = constant.discount_item[i];
                    data[type + '_discount'] = $("#" + type + "_discount").val()
                }
                result = $.ajax({url: '{{root_url}}/manage/editdiscountbyregionid/', type: 'POST', data: data, async: false});
                result = eval("(" + result.responseText + ")");
                if (result['success'] == 'success') {
                    $.colorbox.close();
                    toastr.success('修改折扣成功')
                }else{
                    toastr.error('修改折扣失败')
                }
            }
        })
    </script>

{% endblock %}