{% extends "ECloud.html" %} 
{% load staticfiles %} 

{% block insert_js_css %}
<script src="{% static 'js/image.js' %}"></script>
{% endblock %} 
{% block title %}
<span class="menu-num-blue">管理员</span>
<span class="menu-num-defult">/ 用户管理</span>
{% endblock %} 

{% block center_body %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading heading-default">
				<h4 class="panel-title">用户管理</h4>
			</div>
		
		

			<!-- panel-body -->
		</div>
	</div>
</div>

{% endblock %}
