{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Users" %}{% endblock %}

{% block main_body %}

<div class="container">
    <h3 class="modal-title">修改密码</h3>

    <form id="change_user_password_form"  name="" action="{%url 'change_password' user.id %}" method="POST">
     {% csrf_token %}
    <div class="modal-body clearfix">
          <div class="fake_credentials has-feedback" style="display: none">
            <input type="text" name="fake_email" value="">
            <input type="password" name="fake_password" value=""><span class="form-control-feedback fa fa-eye password-icon"></span>
          </div>
            <div class="row">
              <div class="col-sm-6">
                <fieldset>
                    <div class="form-group required">
                          <label class="control-label  required" for="id_password">密码</label>
                          <span class="hz-icon-required fa fa-asterisk"></span>
                        <div class="has-feedback">
                            <input class="form-control" id="id_password" name="password" type="password"><span class="form-control-feedback fa fa-eye password-icon"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                          <label class="control-label  required" for="id_confirm_password">确认密码</label>
                          <span class="hz-icon-required fa fa-asterisk"></span>
                        <div class="has-feedback">
                            <input class="form-control" id="id_confirm_password" name="confirm_password" type="password"><span class="form-control-feedback fa fa-eye password-icon"></span>
                        </div>
                    </div>
                    <div class="form-group ">
                          <label class="control-label  " for="id_name">用户名</label>
                        <div class=" ">
                            <input class="form-control" id="id_name" name="name" readonly="readonly" type="text" value="{{user.name}}">
                        </div>
                    </div>
                </fieldset>
              </div>
                  <div class="col-sm-6">
                  <h3>说明：</h3>
                  <p>修改你的密码。强烈建议您选择一个复杂密码。</p>
                  </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/admin/" class="btn btn-default cancel">取消
            </a>
            <input class="btn btn-primary" type="submit" value="保存">
        </div>
    </form>


</div>
{% endblock %}