<div>
	<form class="form-inline row search_combo" role="form">
        <div style="margin-left:20px;margin-right:20px;padding-right: 10px;padding-left: 10px;padding-top: 10px;
        color: #E69100;background-color: #fff4e2;height:40px;">
            <label >请确保折扣系数不能大于2</label>
        </div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">区域选择:</label> 
			<select id ="region" >
			</select>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">CDN折扣系数:</label> <input class="form-control"id="cdn_discount" for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="cdn_discount_parent"></font></label>
		</div>
		<hr>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label style="width: 120px;">内存折扣系数:</label> <input class="form-control" id="memory_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="memory_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">CPU折扣系数:</label>
			<input class="form-control" id="cpu_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="cpu_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">云硬盘折扣系数:</label>
			<input class="form-control"id="disk_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="disk_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">快照折扣系数:</label>
			<input class="form-control"id="snapshot_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="snapshot_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">带宽折扣系数:</label>
			<input class="form-control"id="bandwidth_discount"for="number"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="bandwidth_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">路由器折扣系数:</label>
			<input class="form-control"id="router_discount"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;"id="router_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">浮动IP折扣系数:</label>
			<input class="form-control"id="ip_discount"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="ip_discount_parent"></font></label>
		</div>
		<div class="form-group" style="padding-right: 30px;padding-left: 30px;width:45%;padding-top: 20px;">
			<label for="invoice_amount"  style="width: 120px;">VPN折扣系数:</label>
			<input class="form-control"id="vpn_discount"
				id="" value="1.0" size="3"><label><font size="1" style="padding-left: px;color: #E69100;background-color: #fff4e2;" id="vpn_discount_parent"></font></label>
		</div>
	</form>
</div>