{% extends 'base.html' %}
{% block main_body %}
    <div class="panel-heading child_main_head" >
        {% block title %}
            {% for item in title_list %}
                {% if item.url %}
                    <a class="breadcumbs" href='{{ root_url }}{{ item.url}}'>
                        {% ifequal forloop.counter 1 %}
                            {{ item.name }}
                        {% else %}
                            &nbsp;&#47;&nbsp;{{ item.name }}
                        {% endifequal %}
                    </a>
                {% else %}
                    <span class="breadcumbs">
{% ifequal forloop.counter 1 %}
    {{ item.name }}
{% else %}
    &nbsp;&#47;&nbsp;{{ item.name }}
{% endifequal %}
</span>
                {% endif %}
            {% endfor %}
        {% endblock %}

    </div>
    <div  class="panel-body child_main_body" style="width: 612px; padding:0px">
        <div style="background-color: #2e2e2e; height:40px">
            <span style="color: #ffffff;height:40px;line-height:40px; padding-left:20px; font-size:16px">修改密码</span>
        </div>
        <div class="row" style="padding: 40px">
            <div class="col-sm-6">
                <div class="form-group required">
                    <label for="current_pwd">当前密码*</label>
                    <input class="form-control" id="current_pwd" type="password" value="">
                </div>
                <div class="form-group required">
                    <label for="new_pwd">新密码*</label>
                    <input class="form-control" id="new_pwd" type="password" value="">
                </div>
                <div class="form-group required">
                    <label for="new_pwd2">确认新密码*</label>
                    <input class="form-control" id="new_pwd2" type="password" value="">
                </div>
            </div>
            <div class="col-sm-6">
                <h3>说明</h3>
                <div><span>修改你的密码。强烈建议您选择一个复杂密码。</span></div>
            </div>
        </div>
        <div>
            <button id="confirm_btn" class="yellow_confirm pull-right" style="margin:20px; margin-top:-10px">修改</button>
        </div>
    </div>

    <script>


        $('#confirm_btn').click(function(){
            var old_pwd = $('#current_pwd').val();
            var new_pwd = $('#new_pwd').val();
            var new_pwd2 = $('#new_pwd2').val();

            var hint_str="";
            var flag = 0;

            if(old_pwd==""){
                flag=1;
                hint_str+='请输入原密码<br>';
            }
            if(new_pwd==""){
                flag=1;
                hint_str+='请输入新密码<br>';
            }
            if(new_pwd2==""){
                flag=1;
                hint_str+='请输入确认密码<br>'
            }
            if(old_pwd==new_pwd){
                flag=1;
                hint_str+='新密码必须不同于原密码<br>'

            }

            if(new_pwd!="" && new_pwd2!=""){
                if(new_pwd!=new_pwd2){
                    flag=1;
                    hint_str+='两次输入密码不一致<br>';
                }else if(/\s/.test(new_pwd)){
                    flag=1;
                    hint_str+='密码中不能包含空格<br>';
                }else{
                    regpwd = /^.{6,20}$/;
                    if(!regpwd.test(new_pwd)){
                        flag=1;
                        hint_str+='密码只能为6-20位数字，字符，特殊字符的组合<br>';
                    }
                }
            }

            if(flag==1){
                $.alert({
                    title: '提示',
                    content: hint_str,
                    confirmButton: '确认'
                });
                return false;
            }else{
                result = $.ajax({
                    url: '{{ root_url }}/account/update_password/',
                    type: 'post',
                    data: {
                        'old_pwd': old_pwd,
                        'new_pwd': new_pwd
                    },
                    async:false
                });

                if(result.responseText=='success'){
                    alert('修改密码成功');
                    location.href='{{ root_url }}/account/update_password/'
                }else{
                    alert(result.responseText)
                }
            }
        })
    </script>
{% endblock %}