<!--引用静态文件-->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <link rel="shortcut icon" href="https://www.stcloud.cn/dashboard/static/dashboard/img/favicon.ico"/>
    <title>STcloud费用中心</title>
</head>
<body>
<div class="content_fluid" style="text-align: center">
    <img src="{% static 'img/400.png' %}" >
</div>
</body>

</html>